
span#procent2 {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 50px;
  transform: translate(-50%, -50%);
  color: #3949AB;
}

span#procent2::after {
  content: '%';
}

.canvas-wrap2 {
  position: relative;
  width: 200px;
  height: 200px;
}

/* SEGUNDO*/

span#procent1234 {
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  font-size: 50px;
  transform: translate(-50%, -50%);
  color: #3949AB;
}

span#procent1234::after {
  content: '%';
}

.canvas-wrap {
  position: relative;
  width: 200px;
  height: 200px;
}
body{
  display: flex;
}